@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #036d59;
  position: relative;
}

.calculator {
  width: 400px;
  height: 700px;
  position: absolute;
  border-radius: 20px;
  background-color: #001a14;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.result {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: end;
  justify-content: end;
  overflow: hidden;
}

.result h2 {
  font-family: "Noto Sans";
  font-size: 50px;
  font-weight: 400;
  color: #99ffeb;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 60%;
  gap: 20px;
}

.buttons button {
  width: 70px;
  height: 70px;
  font-family: "Noto Sans";
  font-size: 25px;
  font-weight: 400;
  background-color: #99ffeb;
  color: black;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: #2af4cc;
}

.buttons .equal-btn {
  background-color: #2af4cc;
}
